// -----------------------------------------------------------------------------
// Base
// -----------------------------------------------------------------------------

.site-container {
	max-width: $site-container;
	margin: 0 auto;
	padding: 0 ($base-spacing * 1.5);
}
