// -----------------------------------------------------------------------------
// Base: Colors
// -----------------------------------------------------------------------------

$black:        #000;
$white:        #fff;

$brand-color: $black;
$base-font-color: $black;
$link-color: $black;
